<a href="https://colab.research.google.com/github/SaraVillarraga/Inteoduccionpython2023/blob/main/1_IntroduccionPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/701px-Python-logo-notext.svg.png" width=100, align="right" >



# **1) Introducción a Python**



Python es un lenguaje de programación de alto nivel, interpretado, interactivo y orientado a objetos. Fue creado por Guido van Rossum y su primera versión fue lanzada en 1991. Python es conocido por su simplicidad y legibilidad, lo que facilita el aprendizaje y la escritura de código. Se utiliza ampliamente en diversas áreas, como desarrollo web, análisis de datos, inteligencia artificial, automatización, desarrollo de videojuegos y muchas otras aplicaciones

Python se ha utilizado en la creación de muchas aplicaciones y sitios web populares debido a su versatilidad y facilidad de uso. Algunos ejemplos notables incluyen:

* Instagram
* Spotify
* Youtube
* Dropbox
* Reddit
* Pinterest

# **2) Python para la ciencia de datos**

Según lo revelado por los resultados de una encuesta realizada por Kaggle una plataforna de científicos de datos, Python es el más usado en cuanto a lenguaje de programación, seguido de SQL y R para el tema de ciencia de Datos

Python es uno de los lenguajes de programación más populares y versátiles utilizados en la ciencia de datos. Gracias a su simplicidad y a su amplia variedad de bibliotecas especializadas, Python se ha convertido en una herramienta esencial para científicos de datos, analistas y desarrolladores de todo el mundo.

A continuación se presentan algunas bibliotecas y herramientas clave de Python para la ciencia de datos:

* NumPy: Biblioteca de Python para realizar operaciones matemáticas y de álgebra lineal con arreglos multidimensionales y funciones matriciales.

* pandas: Biblioteca para la manipulación y análisis de datos que proporciona estructuras de datos como DataFrames y Series, que facilitan el trabajo con datos estructurados.

* Matplotlib: Biblioteca para la creación de gráficos y visualizaciones en 2D y 3D, permitiendo la representación de datos de manera efectiva y personalizada.

* seaborn: Basada en Matplotlib, seaborn es una biblioteca de visualización de datos estadísticos que proporciona una interfaz de alto nivel para crear gráficos informativos y atractivos.

* SciPy: Extiende las capacidades de NumPy al incluir funciones adicionales para optimización, álgebra lineal, integración, interpolación, estadísticas, entre otras.

* scikit-learn: Biblioteca de aprendizaje automático (machine learning) que incluye herramientas para clasificación, regresión, clustering, reducción de dimensionalidad, selección de modelos y preprocesamiento de datos.

* TensorFlow: Desarrollada por Google, TensorFlow es una biblioteca de código abierto para la creación y entrenamiento de modelos de aprendizaje profundo (deep learning) y aprendizaje automático.

* Keras: Interfaz de alto nivel para TensorFlow y otras bibliotecas de aprendizaje profundo que simplifica la creación y el entrenamiento de redes neuronales.

* PyTorch: Desarrollada por Facebook, PyTorch es otra biblioteca de aprendizaje profundo que facilita la creación de modelos de aprendizaje automático con mayor flexibilidad y dinamismo.

* Jupyter Notebook: Entorno de desarrollo interactivo basado en navegador para crear y compartir documentos que contienen código, ecuaciones, visualizaciones y texto explicativo.

* Stastmodels: R de python

# **3) Fundamentos de Programación en Python**

## **3.1) Usando Python como Calculadora**

In [ ]:
# Sumar en python
65+89

154

In [ ]:
## Restar Python
100-25

75

In [ ]:
## Multiplicar
6*25

150

In [ ]:
## Dividir en Python
100/2

50.0

## **3.2) Sintaxis y estructura básica de Python:**

* Variables y tipos de datos (números, cadenas, listas, tuplas, conjuntos, diccionarios)
* Operadores (aritméticos, de asignación, de comparación, lógicos, de identidad, de pertenencia)
* Control de flujo (condicionales: if, elif, else; bucles: for, while)

### **3.2.1 Variables**

¿Que es una Variable?

"En programación, una variable está formada por un espacio en el sistema de almacenaje (memoria principal de un ordenador) y un nombre simbólico (un identificador) que está asociado a dicho espacio. Ese espacio contiene una cantidad de información conocida o desconocida, es decir un valor. El nombre de la variable es la forma usual de referirse al valor almacenado"

**Variables Númericas**

In [ ]:
## Enteras
Edad=45
Edad

45

In [ ]:
print(Edad)

45

In [ ]:
print(f'El valor de la variable edad es: {Edad} años')

El valor de la variable edad es: 45 años

In [ ]:
## Decimales
Pi=3.14

In [ ]:
print(f'El valor de la variable Pi es: {Pi} ')

El valor de la variable Pi es: 3.14

In [ ]:
## Type datos
type(Edad)

int

In [ ]:
type(Pi)

float

In [ ]:
### Transformar un float a int
Pi_Entero=int(Pi)
Pi_Entero

3

In [ ]:
## Pasa de un int a un float
Edad_Float=float(Edad)
Edad_Float

45.0

In [ ]:
Edad*2

90

In [ ]:
Edad/2

22.5

In [ ]:
Edad+45

90

In [ ]:
Edad-45

0

In [ ]:
## Variables String, Texto, se generan con "", ''
Nombre="Sara"
Nombre1='Fabian'

In [ ]:
print(Nombre)
print(Nombre1)

Sara
Fabian

In [ ]:
type(Nombre)

str

In [ ]:
Vuelos="500"

In [ ]:
type(Vuelos)

str

In [ ]:
### Concatenar String
Apellido="Villarraga"

In [ ]:
NombreCompleto=Nombre+" "+Apellido

In [ ]:
NombreCompleto

'Sara Villarraga'

In [ ]:
NombreCompleto*100

'Sara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara VillarragaSara Villarraga'

In [ ]:
## Acceder a las letras del string, la primera posición en python es 0
NombreCompleto[0]

'S'

In [ ]:
len(NombreCompleto) ## Len nos da la cantidad de elementos

15

In [ ]:
NombreCompleto[14] ## última posición

'a'

In [ ]:
NombreCompleto[-1] ## última posición

'a'

In [ ]:
NombreCompleto[-2]

'g'

In [ ]:
NombreCompleto[-3]

'a'

In [ ]:
NombreCompleto[0:4]

'Sara'

In [ ]:
NombreCompleto

'Sara Villarraga'

In [ ]:
## Separar String
NombreCompleto.split(" ")

['Sara', 'Villarraga']

### **3.2.2) Extructuras de Datos**

Las estructuras de datos más comunes en Python son las listas, las tablas y los diccionarios

**Listas**

Una lista en Python es una estructura de datos formada por una secuencia ordenada de objetos

In [ ]:
## Una lista siempre se crea con []
Lista_Edades=[] ## Una lista Vacia

In [ ]:
Lista_Edades

[]

In [ ]:
type(Lista_Edades)

list

In [ ]:
Lista_Edades=[24,35,56,41,30,22,18,17,10]

In [ ]:
print(Lista_Edades)

[24, 35, 56, 41, 30, 22, 18, 17, 10]

In [ ]:
## Acceder a la información
Lista_Edades[0]

24

In [ ]:
Lista_Edades[2]

56

In [ ]:
len(Lista_Edades) # Elementos de la lista

9

In [ ]:
Lista_Edades[8]

10

In [ ]:
Lista_Edades[-1] # último dato

10

In [ ]:
Lista_Edades[-2] # último dato

17

In [ ]:
Lista_Edades[0:3]

[24, 35, 56]

In [ ]:
## Agregar Datos Nuevos con el comando append, siempre agrega al final el dato

In [ ]:
Lista_Edades.append(102)

In [ ]:
Lista_Edades

[24, 35, 56, 41, 30, 22, 18, 17, 10, 102]

In [ ]:
Lista_Edades.append(12)

In [ ]:
Lista_Edades

[24, 35, 56, 41, 30, 22, 18, 17, 10, 102, 12]

In [ ]:
## Agregar manipulando la posición
Lista_Edades.insert(0,15)

In [ ]:
Lista_Edades

[15, 24, 35, 56, 41, 30, 22, 18, 17, 10, 102, 12]

In [ ]:
Lista_Edades.insert(0,25)

In [ ]:
Lista_Edades

[25, 15, 24, 35, 56, 41, 30, 22, 18, 17, 10, 102, 12]

In [ ]:
Lista_Edades.insert(2,25)

In [ ]:
Lista_Edades

[25, 15, 25, 24, 35, 56, 41, 30, 22, 18, 17, 10, 102, 12]

**Ejercicio**


• Ejercicio 1: Encuentre el área de un triángulo rectángulo isósceles a partir de la longitud de sus catetos, ingresados por el usuario. Recuerde que un triángulo isósceles tiene dos lados iguales y que el área de un triángulo está dada por: (base * altura)/2

In [ ]:
Base=int(input("Ingrese la base "))
Altura=int(input("Ingrese la Altura "))
Area=(Base*Altura)/2
print("El area del triangulo es:", Area)

Ingrese la base  20
Ingrese la Altura  20

El area del triangulo es: 200.0

In [ ]:
Edad=int(input("Ingrese su edad")) ## un input siempre genera un string

Ingrese su edad 30

In [ ]:
Edad

In [ ]:
type(Edad)

int

In [ ]:
## Usuario ingresa el año de nacimiento, yo le calculo la edad que tiene en el 2023
Anio_Naciemiento=int(input("Ingrese su año de nacimiento")) ## un input siempre genera un string
EdadActual=2023-Anio_Naciemiento
print(f'Su edad en el 2023 es: {EdadActual}')

Ingrese su año de nacimiento 1992

Su edad en el 2023 es: 31