<a href="https://colab.research.google.com/github/SaraVillarraga/Inteoduccionpython2023/blob/main/3_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Librerias Python**

En Python, una biblioteca (o librería) es un conjunto de módulos que proporcionan funcionalidades adicionales al lenguaje Python. Las bibliotecas se utilizan para extender las capacidades de Python más allá de las funciones incorporadas en el lenguaje.

Librerias populares: 
* Pandas: Biblioteca para la manipulación y análisis de datos que proporciona estructuras de datos como DataFrames y Series, que facilitan el trabajo con datos estructurados.
https://pandas.pydata.org/docs/user_guide/index.html#user-guide

* Numpy: Biblioteca de Python para realizar operaciones matemáticas y de álgebra lineal con arreglos multidimensionales y funciones matriciales.

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd # con alias
import numpy  as np
import os
import warnings
warnings.filterwarnings("ignore",category=FutureWarning)

**Series Pandas**

En Pandas, una serie es un objeto unidimensional que se utiliza para almacenar datos etiquetados. Las series son similares a las listas o arrays de NumPy, pero tienen la capacidad adicional de asignar etiquetas a los datos, lo que permite un acceso más rápido y fácil a los datos almacenados.

In [ ]:
ListaEdad=[25,35,46,56,18]
ListaEdad

[25, 35, 46, 56, 18]

In [ ]:
## Podemos crearlas a partir de una lista
SerieEdad=pd.Series(ListaEdad)
SerieEdad

0    25
1    35
2    46
3    56
4    18
dtype: int64

In [ ]:
## Acceder a los datos de la serie
SerieEdad[0]

25

In [ ]:
SerieEdad[4]

18

In [ ]:
## Crear una serie a partir de un diccionario 
Edad_Diccionarios={"Sara":25,"Fabian":35,"Ricardo":40}

In [ ]:
Edad_Diccionarios["Sara"]

25

In [ ]:
SerieDiccionarioEdad=pd.Series(Edad_Diccionarios)

In [ ]:
SerieDiccionarioEdad

Sara       25
Fabian     35
Ricardo    40
dtype: int64

In [ ]:
SerieDiccionarioEdad["Sara"]

25

In [ ]:
## Agregar un Dato nuevo a la serie
SerieDiccionarioEdad=SerieDiccionarioEdad.append(pd.Series(50,index=["oscar"]))

In [ ]:
SerieDiccionarioEdad

Sara       25
Fabian     35
Ricardo    40
oscar      50
dtype: int64

**DataFrame en Python (Tablas Filas y Columnas)**

En Python, un DataFrame es una estructura de datos bidimensional, similar a una hoja de cálculo o una tabla de base de datos, que se utiliza para almacenar y manipular datos. Los DataFrames se utilizan comúnmente en el análisis de datos y la ciencia de datos, ya que permiten organizar y manipular grandes cantidades de datos de manera eficiente.

In [ ]:
## CREARLOS DESDE LISTAS
Nombres=["Ana","Pedro","Sara","Ricardo","Julian","Sebastian","Maria"]
Edad=[25,35,46,52,18,19,21]
Salario=[2500000,5000000,8000000,8500000,15000000,35000000,60000000]
Cargo=["Aprendiz","Analista","Financiero","Desarrollador","Lider Tecnico","Senador","Manager TIC"]
Producto=["TC Estudiantil","CDT","TC ORO","TC PREMIUM","Libranza","Hipoteca"]

In [ ]:
Nombres

['Ana', 'Pedro', 'Sara', 'Ricardo', 'Julian', 'Sebastian', 'Maria']

In [ ]:
Edad

[25, 35, 46, 52, 18, 19, 21]

In [ ]:
## Mapeamos las combinacioes con el comando zip
Clientes=list(zip(Nombres,Edad,Salario,Cargo,Producto))
Clientes

[('Ana', 25, 2500000, 'Aprendiz', 'TC Estudiantil'),
 ('Pedro', 35, 5000000, 'Analista', 'CDT'),
 ('Sara', 46, 8000000, 'Financiero', 'TC ORO'),
 ('Ricardo', 52, 8500000, 'Desarrollador', 'TC PREMIUM'),
 ('Julian', 18, 15000000, 'Lider Tecnico', 'Libranza'),
 ('Sebastian', 19, 35000000, 'Senador', 'Hipoteca')]

In [ ]:
## Aplicar la funcion pd.DataFrame para convetir finalmente en una Tabla
BaseClientes=pd.DataFrame(Clientes,columns=["Nombre","Edad","Salario","Cargo","Producto"])
BaseClientes

      Nombre  Edad   Salario          Cargo        Producto
0        Ana    25   2500000       Aprendiz  TC Estudiantil
1      Pedro    35   5000000       Analista             CDT
2       Sara    46   8000000     Financiero          TC ORO
3    Ricardo    52   8500000  Desarrollador      TC PREMIUM
4     Julian    18  15000000  Lider Tecnico        Libranza
5  Sebastian    19  35000000        Senador        Hipoteca

In [ ]:
BaseClientes

      Nombre  Edad   Salario          Cargo        Producto
0        Ana    25   2500000       Aprendiz  TC Estudiantil
1      Pedro    35   5000000       Analista             CDT
2       Sara    46   8000000     Financiero          TC ORO
3    Ricardo    52   8500000  Desarrollador      TC PREMIUM
4     Julian    18  15000000  Lider Tecnico        Libranza
5  Sebastian    19  35000000        Senador        Hipoteca

In [ ]:
## Exportar  o Guardarla

In [ ]:
BaseClientes.to_excel("./Resultados/Clientes.xlsx",index=False)