# **1) Descripcion del problema**

# **2) Importar Datos**

## **2.1 Importar Librerias**

In [6]:
import pandas as pd
import numpy as np
import os
## Configuramos el maximo de columnas a visualizar
pd.set_option("display.max_columns",50)

**Importar desde carpeta local**

In [2]:
print(os.getcwd())

C:\Users\Sara\Documents\DIPLOMADO\Curso de Python

In [3]:
df=pd.read_csv("./Insumos/UCI_Credit_Card.csv")

In [4]:
df.shape ## Dimensión

(30000, 25)

In [5]:
## Vista previa
df.head(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
5,6,50000.0,1,1,2,37,0,0,0,0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0
6,7,500000.0,1,1,2,29,0,0,0,0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0
7,8,100000.0,2,2,2,23,0,-1,-1,0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
8,9,140000.0,2,3,1,28,0,0,2,0,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0
9,10,20000.0,1,3,2,35,-2,-2,-2,-2,...,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0

**Importar desde Github**

In [14]:
df_github=pd.read_csv("https://raw.githubusercontent.com/SaraVillarraga/Inteoduccionpython2023/main/UCI_Credit_Card.csv")

In [15]:
df_github.shape

(30000, 25)

In [16]:
df_github.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

## **Importar desde Servidor SQL, bigquery, nube de algun proveedor, desde Apis**

## **2.2 Diccionario de Variables**

Los datos "Default of Credit Card" proporcionan información sobre el comportamiento de pago de los clientes de tarjetas de crédito en Taiwán entre abril de 2005 y septiembre de 2005. El conjunto de datos incluye información sobre los clientes de crédito, como su edad, género, estado civil, nivel educativo, historial de pagos, límite de crédito y si incumplieron en su pago o no.

La variable objetivo es el incumplimiento del pago del cliente, que se define como la incapacidad de un cliente para pagar su deuda en un período de pago específico.

El conjunto de datos "Default of Credit Card" consta de 30.000 observaciones y 25 variables, y se ha utilizado en numerosos estudios de predicción de incumplimiento de pago.

* Id: identificación del cliente
* LIMIT_BAL: límite de crédito otorgado en dólares NT (nuevo taiwanés) (incluye el crédito individual y el familiar/suplementario)
* SEX: género (1 = masculino, 2 = femenino)
* EDUCATION: nivel educativo (1 = posgrado, 2 = universidad, 3 = escuela secundaria, 4 = otros)
* MARRIAGE: estado civil (1 = casado, 2 = soltero, 3 = otros)
* AGE: edad en años
* PAY_0 a PAY_6: historial de pagos anteriores de septiembre de 2005 a abril de 2005 (PAY_0 = el estado de reembolso en septiembre de 2005; PAY_2 = el estado de reembolso en agosto de 2005, y así sucesivamente hasta PAY_6 = el estado de reembolso en abril de 2005) (La escala de medición es la siguiente: -1 = pago debidamente, 1 = retraso en el pago por un mes, 2 = retraso en el pago por dos meses, y así sucesivamente hasta 8 = retraso en el pago por ocho meses, 9 = retraso en el pago por nueve meses y más)
* BILL_AMT1 a BILL_AMT6: Monto de la factura de septiembre de 2005 a abril de 2005 (BILL_AMT1 = cantidad de facturación en septiembre de 2005; BILL_AMT2 = cantidad de facturación en agosto de 2005, y así sucesivamente hasta BILL_AMT6 = cantidad de facturación en abril de 2005)
* PAY_AMT1 a PAY_AMT6: cantidad del pago anterior de septiembre de 2005 a abril de 2005 (PAY_AMT1 = cantidad pagada en septiembre de 2005; PAY_AMT2 = cantidad pagada en agosto de 2005, y así sucesivamente hasta PAY_AMT6 = cantidad pagada en abril de 2005)
* DEFAULT_PAYMENT_NEXT_MONTH: incumplimiento del pago (1 = sí, 0 = no)

fuente: https://www.kaggle.com/datasets/uciml/default-of-credit-card-clients-dataset

# **3) Depuración Datos**

## **3.1 Renombrar Variables con Python**

In [9]:
Variables_Originales=df.columns.tolist() ## Guarda los nombres de las columnas en formato lista

In [10]:
len(Variables_Originales)

25

In [11]:
Variables_Originales

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default.payment.next.month']

In [17]:
## Renombramos con diccionarios de python
df.rename(columns={'LIMIT_BAL':'ValorCredito',
                  "SEX":"Genero",
                  "EDUCATION":"Educacion",
                  'MARRIAGE':'EstadoCivil',
                  "AGE":"Edad",
                  "default.payment.next.month":"Mora"},inplace=True) ## Inplace=True, Ejecuta el cambio de variabels de forma permanente

In [18]:
df.head()

,ID,ValorCredito,Genero,Educacion,EstadoCivil,Edad,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Mora
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

# **3.2 Creación Nuevas Variables**

**Extructura de Control**

Las estructuras de control en Python son bloques de código que permiten modificar el flujo de ejecución de un programa. Estas estructuras permiten realizar decisiones, repetir acciones y controlar el flujo del programa según las condiciones y datos que se estén manejando. Las estructuras de control en Python se pueden clasificar en dos categorías: condicionales y bucles.

**A) Extructura de Control Condicionales**

Operadores:

* Mayor o igual >=
* Menor o Igual <=
* Igual a ==
* diferente de !=

**If Simple**

In [19]:
Edad=71

In [20]:
if (Edad >=18):
    print("El cliente es Mayor de Edad")
    RangoEdad="MayorEdad"

El cliente es Mayor de Edad

**If Else**

In [21]:
if (Edad >=18):
    print("El cliente es Mayor de Edad")
    RangoEdad="MayorEdad"
else:
    print("El cliente es Menor de Edad")
    RangoEdad="MenorEdad"

El cliente es Mayor de Edad

In [22]:
RangoEdad

'MayorEdad'

**Condicionales Anidados: if elif**

Vamos a preguntar la edad, y el mensaje sera:

* si es la edad es mayor 18 y menor = a 30, mostrar que es un Joven
* si es la edad es mayor 30 y menor = a 60, mostrar que es un Adulto
* si es la edad es mayor 60 y menor = a 110, mostrar que es un Adulto Mayor
* si menor a 18: menor de edad

In [23]:
if (Edad >= 18 and Edad <=30):
    RangoEdad="Joven"
elif (Edad >30  and Edad <=60):
    RangoEdad="Adulto"
elif (Edad >60  and Edad <=110):
    RangoEdad="AdultoMayor"
elif (Edad >110):
    RangoEdad="ValidarEdad"
else:
    RangoEdad="MenorEdad"

In [24]:
RangoEdad

'AdultoMayor'

**Traer o llamar variables de la base de datos**

In [25]:
Edad=df["Edad"][0] # Primer cliente posicion 0

In [26]:
if (Edad >= 18 and Edad <=30):
    RangoEdad="Joven"
elif (Edad >30  and Edad <=60):
    RangoEdad="Adulto"
elif (Edad >60  and Edad <=110):
    RangoEdad="AdultoMayor"
elif (Edad >110):
    RangoEdad="ValidarEdad"
else:
    RangoEdad="MenorEdad"
RangoEdad

'Joven'

In [27]:
Edad=df["Edad"][29999] # Primer cliente posicion 0

In [28]:
if (Edad >= 18 and Edad <=30):
    RangoEdad="Joven"
elif (Edad >30  and Edad <=60):
    RangoEdad="Adulto"
elif (Edad >60  and Edad <=110):
    RangoEdad="AdultoMayor"
elif (Edad >110):
    RangoEdad="ValidarEdad"
else:
    RangoEdad="MenorEdad"
RangoEdad

'Adulto'

In [29]:
df.tail() ## Los últimos datos

,ID,ValorCredito,Genero,Educacion,EstadoCivil,Edad,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Mora
29995,29996,220000.0,1,3,1,39,0,0,0,0,0,0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,0,0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,0,0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,0,-1,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,0,0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

**Las funciones**

Las funciones en Python son bloques de código que realizan una tarea específica y pueden ser reutilizados en diferentes partes de un programa. Las funciones permiten organizar y estructurar el código de manera más eficiente, facilitando su mantenimiento y legibilidad.

Las funciones se definen con la palbra def, espacio y se coloca el nombre(parametros) : codigo y por ultimo el return

In [30]:
## FUncion que sume dos numeros

In [31]:
def Sumar_2_numeros(x=0,y=0):
    Resultado=x+y
    return Resultado

In [32]:
Sumar_2_numeros(89,56)

145

In [33]:
Sumar_2_numeros(89,156)

245

In [34]:
Sumar_2_numeros(189,56)

245

In [35]:
Sumar_2_numeros(1,1)

2

In [36]:
Sumar_2_numeros()

0